/* Aplicatia 7 */
.slider {
        /* 640 x 5* */
        width: 3200px; 
        height: 320px;
        position: relative;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        z-index: 5;
}

.slider li {
        float: left;
        width: 640px;
        height: 320px;
}

.slider {
        /* animation: slider111 10s linear infinite; */
        animation-name: aaaaa;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: reverse;
}

@keyframes aaaaa {
        0% {left: 0;}
        13% {left: 0;}
        25% {left: -640px;}
        38% {left: -640px;}
        50% {left: -1200px;}
        63% {left: -1200px;}
        75% {left: -1920px;}
        88% {left: -1920px;}
        100% {left: -2560px;}
}
